{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css-base-main.css' %}">

    <title>{% block title %}Family Planner || matthewmoore.pro{% endblock %}</title>

    <!--Required code for Google OAuth API-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="966508985915-75vep4cmp7imlu4eehlsn15m865taond.apps.googleusercontent.com">


</head>

<body>
    <header>
        <div class="header">matthewmoore</div>
    </header>
    
    <div class="content">
        <div class="left">
            {% include "base-nav-site.html" %}
        </div>
    
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        
        <div class="right">
            {% include "base-nav-useful.html" %}
        </div>
    </div>

    <footer>
        <div class="footer">&copy; Matthew Moore, 2020</div>
    </footer>
</body>
</html>